<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       https://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true">
        <security:intercept-url pattern="/" access="permitAll()"/>
        <security:intercept-url pattern="/interface/list" access="hasAnyAuthority ('usuario')"/>
        <security:intercept-url pattern="/interface/create" access="hasAnyAuthority ('usuario')"/>
        <security:form-login login-page="/login" authentication-failure-url="/error"
                             username-parameter="name" password-parameter="passw"/>
        <security:csrf disabled="true"/>
        <security:logout logout-success-url="/"/>
    </security:http>


    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder hash="bcrypt"/>
            <security:jdbc-user-service data-source-ref="ds"
                                        users-by-username-query="select name as username, passw, 1 as enabled from user where name = ?"
                                        authorities-by-username-query="SELECT name as username, rol as authority from user where name = ?"/>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>