<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       https://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true">
        <security:intercept-url pattern="/" access="permitAll()"/>
        <security:intercept-url pattern="/interface/list" access="hasAnyAuthority ('usuario')"/>
        <security:intercept-url pattern="/interface/create" access="hasAnyAuthority ('usuario')"/>
        <security:form-login login-page="/login" default-target-url="/interface/listAccounts"
                             authentication-failure-url="/error"
                             username-parameter="name" password-parameter="password"/> <!--En esta línea los nombres
                             deben coincidir con los nombres que asignamos en los campos de nuestro formulario-->
        <security:csrf disabled="true"/>
        <security:logout logout-success-url="/"/>
    </security:http>


    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder ref="noOpPasswordEncoder"/>
            <security:jdbc-user-service data-source-ref="ds"
                                        users-by-username-query="SELECT name_user AS username, password_user AS  password, 1 AS enabled FROM users WHERE name_user = ?"
                                        authorities-by-username-query="SELECT name_user AS username, rol AS authority FROM users WHERE name_user = ?"/>
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="noOpPasswordEncoder"
          class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>
</beans>